In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Fuentes_Consumo_Energia.csv')

In [7]:
df.head()

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799
3,Africa,NaN,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219
4,Africa,NaN,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729

In [23]:
df.Code.size

5190

In [14]:
df = pd.read_csv('Fuentes_Consumo_Energia.csv')
df.drop(['Code'],axis=1, inplace=True)
df.head()
type(len(df.columns))

int

In [132]:
df = pd.read_csv('Fuentes_Consumo_Energia.csv')
print(len(df.Code))
df = pd.read_csv('Fuentes_Consumo_Energia.csv').dropna(axis=0)
print(len(df.Code))
df.head()

5190
4139

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
55,Algeria,DZA,1965,0.002931,0.026750,0.0,0.400,0.0,0.0,0.0,0.055459
56,Algeria,DZA,1966,0.002847,0.027789,0.0,0.355,0.0,0.0,0.0,0.072982
57,Algeria,DZA,1967,0.002177,0.026958,0.0,0.410,0.0,0.0,0.0,0.068191
58,Algeria,DZA,1968,0.002303,0.028344,0.0,0.563,0.0,0.0,0.0,0.072602
59,Algeria,DZA,1969,0.002931,0.037266,0.0,0.361,0.0,0.0,0.0,0.076701

In [157]:
#####4 147,237.11
'''
Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto 
"Fuentes_Consumo_Energia.csv".
El ExaJulio es una unidad diferentes al TWh, es decir, no tiene sentido sumarlos o 
buscar proporciones entre ellos, la fórmula de conversión es:
277.778 Teravatios/Hora (TWh) = 1 Exajulio
Los campos terminados en "_EJ" corresponden a mediciones en Exajulios, 
y los terminados en "_TWh" corresponden a Teravatios/Hora.
La consigna es crear un nuevo campo, que se denomine "Consumo_Total" 
y que guarde la sumatoria de todos los consumos expresados en Exajulios (convirtiendo a
esta medida los que están en Teravatios/Hora)
Esta función debe informar el consumo total para la entidad 'World' y año '2019', 
redondeado a 2 decimales, retornando ese valor en un dato de tipo float.
'''
   
df = pd.read_csv('Fuentes_Consumo_Energia.csv')
indEJ = []
indTWh = []
for i, col in enumerate(df.columns):
    if '_EJ' in col:
        indEJ.append(col)
    elif '_TWh' in col:
        indTWh.append(col)

df['Consumo_Total'] = df[indEJ].sum(axis = 1) + df[indTWh].sum(axis = 1)/277.778
valor = df[(df['Entity'] == 'World') & (df['Year'] == 2019)]
round(float(valor['Consumo_Total'].max())   ,2)

527.71

In [137]:
'''5
Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto 
"Fuentes_Consumo_Energia.csv".
Esta función debe informar el año de mayor generación de energía solar (Solar_Generation_TWh) 
para la entidad 'Europe' retornando ese valor en un dato de tipo entero.
'''

df = pd.read_csv('Fuentes_Consumo_Energia.csv')
dfe = df[df['Entity'] == 'Europe']
indice = dfe['Solar_Generation_TWh'].idxmax()
dfe['Year'][indice]

2019

In [84]:
n1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
n2 = np.array([[3,3],[4,4],[5,5]])

n2.shape[1]

2

In [106]:
##pregunta 7
df = pd.read_csv('Fuentes_Consumo_Energia.csv')
paises = ['Argentina','Brazil','Chile','Colombia','Ecuador','Mexico','Peru']
indice = df[(df['Entity'].isin(paises)) & (df['Year'] == 2019)].Wind_Generation_TWh.idxmax()
df['Entity'][indice]
#df.idxmax()

'Brazil'

In [111]:
df = pd.read_csv('Fuentes_Consumo_Energia.csv')
lista = df.Entity.drop_duplicates()
lista.size

100

In [125]:
'''
    Esta función debe informar el promedio de consumo de carbón (Coal_Consumption_EJ) 
    en la entidad 'Europa' entre los años 1980 y 2000 (ambos inclusive), retornando ese valor en
    un dato de tipo entero.
'''
#Tu código aca:

df = pd.read_csv('Fuentes_Consumo_Energia.csv')
cons_carb = df[(df.Entity == 'Europe') & (df.Year.isin(range(1980,2001)))].Coal_Consumption_EJ
int(cons_carb.mean())

21

In [130]:
'''
Esta función recibe como parámetro un objeto de la clase Lista() definida en el archivo Lista.py.
Debe recorrer la lista y retornan la cantidad de nodos que posee. Utilizar el método de la clase
Lista llamado getCabecera()
Ejemplo:
    lis = Lista()
    lista.agregarElemento(1)
    lista.agregarElemento(2)
    lista.agregarElemento(3)
    print(Ret_Pregunta10(lista))
        3    -> Debe ser el valor devuelto por la función Ret_Pregunta10() en este ejemplo
'''

from Lista import *

def Ret_Pregunta10(lista):
    c = 0
    
    a = lista.getCabecera()
    if a:
        c = 1
    while a.getSiguiente():
        c += 1
        a = a.getSiguiente()
    
    return c
    

lista = Lista()
lista.agregarElemento(1)
lista.agregarElemento(2)
lista.agregarElemento(3)
print(Ret_Pregunta10(lista))

3